---
import ProjectCard from "./ProjectCard.astro";
const { projects } = Astro.props
---
<section class={"my-10"}>
    <div class={"grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-2"}>
        {projects.map((project: any) => (
            <ProjectCard title={project.frontmatter.title} description={project.frontmatter.description} showMoreBtn={project.frontmatter.showMoreBtn}></ProjectCard>
        ))}
    </div>
</section>