---
import PostCard from "./PostCard.astro";
const { posts } = Astro.props
const sortedPosts = posts.sort((a:any, b:any) => new Date(a.date).valueOf() - new Date(b.date).valueOf()).slice(0,3);
const desc = "Lorem ipsum dolor sit amet consectetur, Lorem ipsum dolor sit amet consectetur,Lorem ipsum dolor sit amet consectetur,lor sit amet consectlor sit amet consectsLorem ipsum dolor sit amet consectetur,"
---
<section class={"my-10"}>
    <ul class={"grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3"}>
        {sortedPosts.map((post: any) => (
            <PostCard title={post.frontmatter.title} description={desc} pubDate={post.frontmatter.pubDate} postUrl={post.frontmatter.postUrl}></PostCard>
        ))}
    </ul>
</section>