---
import BaseHead from '../components/BaseHead.astro';
import Hero from '../components/Hero.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
import HomePostList from '../components/Posts/HomePostList.astro';
import HomeProjectList from '../components/Projects/HomeProjectList.astro';
import ThemeSelector from '../components/ThemeSelector.astro';
import PageLayout from '../layouts/PageLayout.astro';

const posts = await Astro.glob('./blog/*.md')
const theme = localStorage.getItem('theme')
const projects = await Astro.glob('./projects/*.md')

---

<PageLayout>
	<main class={"mt-8"}>
		<!-- <button data-toggle-theme="dark,light" data-act-class="ACTIVECLASS">HEY</button> -->
		<ThemeSelector></ThemeSelector>
		<Hero />
		<h1 class={"text-3xl font-bold font-mono"}>Latest projects</h1>
		<HomeProjectList projects={projects}></HomeProjectList>
		<!-- <h1 class={"text-3xl font-bold font-mono"}>Latest blog posts</h1>
		<HomePostList posts={posts}></HomePostList> -->
	</main>
</PageLayout>

